@media screen and (min-width: 992px) {
    .nav-bar-span {
        padding-right: 40px;
    }
}

@media screen and (max-width: 575px) {
    .dropdown{
        background: #F0F0F0;
        position: absolute;
        top: 50px;
        right: 0px;
        width: 100%;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    #nav-bar {
        padding-top: 0px;
    }

    .nav-bar-link {
        color: #003091 !important;
    }

    .navbar-nav li:hover {
        background-color: #d8d8d8;
    }
}

#nav-bar {
    background: #003091;
    position: fixed;
    height: 50px;
    width: 100%;
    color: #ececec;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    z-index: 2;
}

#nav-bar-link-container {
    font-size: 16px;
    letter-spacing: 1px;
}

.nav-bar-link {
    padding: 5px;
    color: #ececec;
}

.nav-link {
    display: inline;
}

.nav-bar-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #ececec;
}

.nav-bar-link:focus {
    outline: none;
    text-decoration: none;
    color: #ececec;
}

#nav-bar .logo-circle-svg {
    cursor: pointer;
    margin-top: 5px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    width: 2em;
    height: 2em;
}

.navbar-toggler-icon:hover {
    cursor: pointer;
}

.navbar-nav li {
    padding: 5px 0px;
}

.nav-bar-span {
    position: absolute;
    top: 13px;
    left: 70px;
    letter-spacing: 1px;
}

.navbar-nav li:hover {
    cursor: pointer;
}

.collapsing {
    height: 0;
    -webkit-transition: height .01s;
    -o-transition: height .01s;
    transition: height .01s;
}
