@media screen and (min-width: 992px) {
    .nav-bar-span {
        padding-right: 40px;
    }
}

@media screen and (max-width: 992px) {
    .dropdown{
        background: #003091;
        opacity:.8;
        position: absolute;
        top: 50px;
        left: 0px;
        padding: 0px 20px;
        width: 100%;
        text-align: right;
    }
}

#nav-bar {
    background: #003091;
    position: fixed;
    height: 50px;
    width: 100%;
    color: #ececec;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    z-index: 2;
}

#nav-bar-link-container {
    font-size: 16px;
    letter-spacing: 1px;
}

.nav-bar-link {
    padding: 5px;
    color: #ececec !important;
}

.nav-link {
    display: inline;
}

.nav-bar-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #ececec;
}

.nav-bar-link:focus {
    outline: none;
    text-decoration: none;
    color: #ececec;
}

#nav-bar .logo-circle-svg {
    cursor: pointer;
}
