#new-post-form{
    font-size: 64px;
}

#new-post-form-desktop{
    font-size: 28px;
    margin-top: 1.2em;
}

.mobile-shop-finder>div>input {
    height: 90px;
}

.mobile-shop-finder {
    font-size: 48px;
}

.label-new-shop-finder{
    width:90%;
    display: block;
}

.desktop-submit {
    font-size: 14px;
    width: 30%;
    margin-right: 10%;
    margin-top: 3em;
}

.submit-sale-desktop {
}

.label-new-shop-desktop{
    margin-top: 1em;
}

.form-contents-desktop {
    margin-top: 1em;
}

.form-block-desktop {
    margin-left: 3%;
}

.desktop-form-error-messages{
    font-size: initial;
    margin: initial;
}

.desktop-form-error-messages>ul{
    padding-left: 0;
}