@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");

#verification-form-wrapper {
    padding-top: 200px;
    font-family: Roboto, sans-serif;
}

#verification-form-wrapper > h2 {
    font-family: Roboto, sans-serif;
}