@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed");

html {
    height: 100%;
}

#landing-page-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    background-image: url("../static/to_scale_picture_website_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    overflow: hidden;
}