@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed");

html {
    height: 100%;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../static/original_large_scale_compressed.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

@media (max-width: 700px) {
    #container {
        background-position: left;
        background-image: url("../static/original_small_scale_compressed.png");
    }
}
