.admin-shop-picker {
    float: inherit;
}

#admin-submit-button, .admin-shop-picker,
#admin-post-title, #admin-is-important-checkbox {
    margin: 10px;
}

#admin-submit-button {
    display: block;
}

#admin-post-title {
    width: 400px;
}

.admin-shop-input {
	width: 400px;
	margin-bottom: 30px;
}

.edit-shop-header {
	font-size: 25px;
}
