@import url("https://fonts.googleapis.com/css?family=Montserrat");

#welcome-page {
    text-align: center;
    margin-top: 130px;
}

#welcome-page > h1 {
    margin-bottom: 35px;
    font-size: 40px;
}

#welcome-page > h1 > span {
    font-family: 'Montserrat', sans-serif;
    color: #003091;
}

#welcome-page> p {
    text-align: justify;
    margin-bottom: 20px;
}

#welcome-page > a {
    font-size: 20px;
}

#welcome-page > a:hover {
    cursor: pointer;
}
