#top-bar{
    background: #003091;
    position: fixed;
    min-height: 50px;
    min-width: 100%;
    color: #ececec;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

#nav-bar-links{
    padding-top: 12px;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: right;
}


.nav-bar-item{
    padding: 5px;
    padding-right: 40px;

}
