.base-notification {
    position: absolute;
    background-color: #00aaff;
    width: 100%;
    color: #fcfcfc;
    z-index: 2;
    text-align: center;
    padding: .5em;
    font-size: 1.4em;
    letter-spacing: .02em;
}

.notification-sign-up-button {
    width: 8em;
    display: inline-block;
    margin-bottom: 0;
}

.notification-message {
    display: inline-block;
    padding-right: 3em;
}