.desktop-content-box {
    margin-top: 2.5em;
}

.shop-finder-container{
    margin-top: 3em;
}

#desktop-no-posts{
    margin-top: 3em;
}

#my-feed-title {
    margin-top: 1em;
}

.desktop-content-feed-box{
}