@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #006fff;
}

h1 {
    font-size: 3em;
    color: #2c2e32;
    font-family: 'Zilla Slab', sans-serif;
}

h2 {
    color: #2c2e32;
    font-family: 'Zilla Slab', sans-serif;
}

.mobile-h1{
}

.desktop-h1{
    margin-top: .8em;
}