.menu-container-desktop{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top: 3em;
    border-radius: .3em;
    padding: 1.5em;
    position: relative;
    border: 1px solid #e2e4eb;
}

.menu-option {
    color: #0055ff;
    margin-top: 2em;
    font-size: 20px;
    display: block;
}

.menu-option-first {
    margin-top: 0;
}

.menu-option:hover {
    cursor: pointer;
    color: #2c2e32;
}

.desktop-container{
    display: inline-block;
}