#hamburger-dropdown{
}
#mobile-menu{
    position: fixed;
    font-size: 3em;
    background: #0055ff;
    width: 100%;
    z-index: 2;
}
#mobile-children-grid{
    position: relative;
    top: 5em;
    font-size: 3em;
}
.menu-button{
    margin: 1em 1em 1em 1em;
}

#menu-logo{

}

.sign-up-button{
    float: right;
}