#hamburger-dropdown{
    margin-bottom: 0;
    background: #2222ff;
    width: 100%;
    text-align: center;
    color: #fcfcfc;
    font-weight: 600;
    letter-spacing: .1em;
}
.menu-item{
    padding: 10px;
}
.even-menu-item{
    background: #0055ff;
}
#mobile-menu{
    position: fixed;
    font-size: 3em;
    background: #0055ff;
    width: 100%;
    z-index: 2;
}
#mobile-children-grid{
    position: relative;
    top: 5em;
    font-size: 3em;
}
.menu-button{
    margin: 1em 1em 1em 1em;
}

#menu-logo{

}

.sign-up-button{
    float: right;
}