#my-shops{
    margin-top: 2em;
    margin-bottom: 2em;
}

.mobile-shop-finder .form-control{
    font-size: inherit;
}
.mobile-shop-finder .dropdown-menu{
    font-size: inherit;
    width: 100%;
    max-height: 600px;
}

.mobile-shop-finder-container{
    margin-top: 2em;
    margin-bottom: 2em;
}