.post-box-inner {
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 1.4em;
    letter-spacing: .02em;
}

.sale-title>a {
    color: #006fff;
}

.sale-title>a:hover {
    text-decoration: none;
    color: #2c2e32;
}

.sale-title {
    padding-bottom: 1em;
}

.sale-options {

}

.shop-link {
    float: right;
    font-style: italic;
}

.shop-link:hover {
    text-decoration: none;
    color: #2c2e32;
}

.post-line-break {
    border-top: 3px solid #8f92a6;
}

.post-line-break-desktop {
    border-top: 1px solid #e2e4eb;
}

.admin-tools {
}

.admin-button {
    display: inline-block;
    width: 20%;
    margin: 0 1em 0 1em;
}