.post-box-inner {
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 1.4em;
    letter-spacing: .02em;
}

.sale-title>a {
    color: #006fff;
}

.sale-title {
    padding-bottom: 1em;
}

.sale-options {

}

.shop-link {
    float: right;
    font-style: italic;
}

.post-line-break {
    border-top: 3px solid #8f92a6;
}