.shop-name{
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 1.4em;
    letter-spacing: .02em;
}

.shop-site {
    float: right;
    font-style: italic;
    font-size: 1em;
}

.shop-options {

}

.shop-like {
    float: right;
}

.go-to-site-link {
    float:right;
}