.shop-name{
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 1.4em;
    letter-spacing: .02em;
}

.shop-site {
    float: right;
    font-style: italic;
    font-size: 1em;
}

.shop-options {
    margin-bottom: 1em;
    width: 100%;
}

.shop-like {
    float: right;
}

.go-to-site-link {
    float: right;
    padding-top: .4em;
}

.shop-title-bar {
    margin-bottom: 1em;
}


.clear-fix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear-fix {
    display: inline-block;
}

.shop-box {
    margin-top: 1em;
}