.user-info {
    float: right;
}

.user-info-container {
    width: 100%;
    padding-right: 20px;
}

.user-greeting {
    margin-right: 1em;
    display: inline-block;
}

#auth-break {
    margin-left: 1em;
    margin-right: 1em;
}

#auth-break:hover {
    cursor: default;
}

#logo-container {
}

#top-bar-container {
    margin-left: 15px;
}

#beta-version {
    color: #0055ff;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 25px;
    letter-spacing: .06em;
}