@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed");

@media screen and (min-width: 450px) {
    #settings-form-button {
        margin-left: 0px;
    }

    .settings-section {
        margin: 30px 0px;
    }
}

@media screen and (max-width: 450px) {
    .settings-section {
        margin: 30px 0px;
    }

    #settings-form-spinner {
        width: 100%;
        text-align: center;
    }

    #settings-form-saved-message {
        width: 100%;
        text-align: center;
    }
}

#update-settings-form {
    min-width: 300px;
}

#settings-form-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 0px;
}

.section-title {
    font-family: 'Roboto', sans-serif; 
    margin-top: 10px;
    font-size: 25px;
}

.settings-shop-picker-box {
    margin-top: 10px;
    margin-bottom: 40px;
}

.shop-picker-search > span {
    width: 100%;
}

.shop-picker-search > span > div > div{
    width: 100%;
}

#sent-verification-container {
    background-color: #96ff8f;
}


.verification-container {
    background-color: #ffcccc;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
}

.verification-x-button {
    float: right;
}

.verification-x-button:hover {
    cursor: pointer;
}

.verification-container > p {
    margin-bottom: 0;
    display: inline;
}

#resend-verification-link {
    text-decoration: underline;
    cursor: pointer;
    color: #003091;
}

#resent-message {
    font-size: 14px;
    margin-top: -30px;
    margin-bottom: -21px;
}

.radio > label > input {
    margin-left: 5px;
    margin-right: 10px;
    min-width: 17px;
    min-height: 17px;
}

#settings-form-button {
    margin-top: 10px;
    float:left;
}

#settings-form-button:disabled {
    opacity: .4;
    cursor: auto;
}

#settings-form-spinner {
    float: left;
    margin-top: 14px;
}

#settings-form-saved-message {
    float: left;
    margin-top: 24px;
}

#settings-loading-spinner {
    margin-left: 50px;
}

#settings-submit-button-container {
    overflow: auto;
}
