@media screen and (min-width: 450px) {
    #logo-graphic-wrapper {
        width: 50%;
    }
}

#logo-name-wrapper {
    min-width: 50%;
    padding-bottom: 20px;
}

#logo-graphic-wrapper {
    max-width: 600px;
    height: 100%;
    display: block;
}

#logo-text-wrapper {
    position: absolute;
    left: 9%;
    top: 7%;
    width: 40%;
    height: 1000px;
}

#logo-svg {
    display: block;
}
