@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");


.front-page-contents{
    position: absolute;
    top: 0;
    transition: top .5s ease;
}

.front-page-contents-hidden{
    top: -100%;
}

#front-page-paragraph{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    max-width: 46%;
    padding-top: 20px;
    letter-spacing: 1px;
    margin-left: 4%;
}

#logo{
    padding-top: 8%;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    color: #003091;
    margin-left: 4%;
}

#logo-icon-wrapper{
    padding-right: 20px;
    display: inline;
    position: relative;
    top: .22em;
}

.try-it-button_2{
    background-color: #003091;
    color: #f1f1f1;
    font-weight: 100;
    padding-top: .4em;
    padding-bottom: .4em;
    font-size: 20px;

    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    padding-left: 2em;
    padding-right: 2em;
    border-width: 4px;
    border-style: solid;
    border-radius: 3px;
    border-color: #003091;
    margin-top: 40px;
}