#log-in-form-wrapper {
    padding-top: 140px;
}

#log-in-helper-text {
    padding-bottom: 30px;
}

a:hover {
    cursor: pointer;
}

#login-form-button:disabled {
    opacity: .4;
    cursor: auto;
}

#login-form-spinner {
    text-align: right;
    margin-top: -67px;
    margin-right: 10px;
 }