<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105738208-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};

      {% if user_id %}
      gtag('config','UA-105738208-1', {
        'user_id': '{{user_id}}'
      }); // Set the user ID using signed-in user_id.
      {% endif %}
      gtag('js', new Date());

      gtag('config', 'UA-105738208-1');
    </script>
    <script>window.location = '{{url}}';</script>
</head>
<body>

</body>
</html>
