<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Montserrat" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif;">
<table style="width: 100%;min-width: 400px;">
    <tr>
        <td style="display: block;max-width: 500px;margin: 3px auto;">
            <div style="background-color: #003091;text-align: center;padding: 15px;">
                <table style="width: 35%;margin: 0 auto;">
                    <tr>
                        <th>
                            <a href="https://lightho.us">
                                <img style="max-width: 300px;"
                                     src="https://lightho.us/blue_logo.png"
                                     alt="lightho.us logo">
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td style="display: block;max-width: 500px;margin: 3px auto;">
            <div style="background-color: #f0f0f0;padding: 40px;font-size: 20px;">
                <p style="margin-top: 0;color: #000000 !important;">
                    Dear
                    <a style="font-family: 'Montserrat','Roboto',sans-serif;color: #003091;">
                        lightho.us
                    </a> supporters,
                </p>
                <p>
                    Starting today, we will be suspending
                    <a style="font-family: 'Montserrat','Roboto',sans-serif;color: #003091;">
                        lightho.us
                    </a>
                    update emails indefinitely. To all of those that
                    have supported us this past year, thank you for your generosity! We know we learned a lot, and
                    enjoyed giving you a better clothes shopping experience.
                </p>
                <p>
                    Please email <a style="font-family: 'Montserrat','Roboto',sans-serif;color: #003091;">
                    info@lightho.us
                </a> if you would be interested in taking over the project.
                </p>
                <p style="margin-bottom: 0;margin-top: 40px;color: #000000 !important;">
                    <3,
                </p>
                <p style="margin-top: 0;margin-bottom: 0;color: #000000 !important;">
                    The
                    <a style="font-weight: normal;font-family: 'Montserrat','Roboto',sans-serif;color: #003091;">
                        lightho.us
                    </a> team
                </p>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
