<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Montserrat" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif;">
<table style="width: 100%;min-width: 400px;">
    <tr>
        <td style="display: block;max-width: 500px;margin: 3px auto;">
            <div style="background-color: #003091;text-align: center;padding: 10px;font-size: 24px;">
                <table style="width: 35%;margin: 0 auto;">
                    <tr>
                        <th>
                            <a href="https://lightho.us">
                                <img style="max-width: 300px;"
                                     src="https://lightho.us/blue_logo.png"
                                     alt="lightho.us logo">
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
        </td>
    </tr>

    <tr>
        <td style="display: block;max-width: 500px;margin: 3px auto;">
            <div style="background-color: #F0F0F0;padding: 10px;">

                <a
                        href="https://lightho.us/shop_link/ahNzfmxpZ2h0aG91c2UtMTQ5MzE5chELEgRVc2VyGICAgKChh4QJDA/ahNzfmxpZ2h0aG91c2UtMTQ5MzE5chELEgRTaG9wGICAgMDzhc4JDA"
                        style="text-decoration: none;"
                >
                    <img
                            src="http://lh3.googleusercontent.com/7uq1SgjZa0GYm-8SJMXBL4xwdCxCNUDSr76MYpJZsLq92Vf3CfrJVwquIY9f1Vl6ZNcHuSfscYziAgXT4_uBLxzl0Gnc"
                            style="display: inline-block; height: 100px; width: 100px; object-fit: cover; margin-right: 5px"
                    >
                </a>

                <div style='display: inline-block; vertical-align: top;width: 70%;'>
                    <a href="https://lightho.us/shop_link/ahNzfmxpZ2h0aG91c2UtMTQ5MzE5chELEgRVc2VyGICAgKChh4QJDA/ahNzfmxpZ2h0aG91c2UtMTQ5MzE5chELEgRTaG9wGICAgMDzhc4JDA"
                       style='text-decoration: none;font-size: 18px;'>
                        Levi&#39;s
                    </a>
                    <div style='font-size: 16px;margin-top: 10px'>
                        Extra 20% off sale styles with code EXTRA20
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <a href="https://20180416t195119-dot-lighthouse-149319.appspot.com/rest/f/5084391210483712-hEKZtESVgYhr5SenuguJLm"
               style="display: block;text-align: center;margin: 3px auto;text-decoration: none;background-color: #f1f1f1;padding: 15px 0px;letter-spacing: 2px;max-width: 500px;font-weight: 600;">
                See all active sales >>>
            </a>
        </td>
    </tr>
    <tr class="original-only">
        <td>
            <p style="text-align:center; font-size:10px">
                <a href="https://20180416t195119-dot-lighthouse-149319.appspot.com/rest/s/5084391210483712-hEKZtESVgYhr5SenuguJLm">Settings</a>
                &nbsp;|&nbsp;
                <a href="https://20180416t195119-dot-lighthouse-149319.appspot.com/rest/u/5084391210483712-hEKZtESVgYhr5SenuguJLm">Unsubscribe</a>
            </p>
        </td>
    </tr>
</table>
</body>
</html>
