@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");

.form-contents{
    position: absolute;
    top: 0;
    transition: top .5s ease;
    height: 100%;
}

.form-contents-hidden{
    top: 100%;
}

.text-box{
    background-color: #f1f1f1;
}

.submit-button_2 {
    margin-left: 0;
    width: 100%;
}

.form-wrapper {
    background-color: #aec7ea;
    padding-top: 10em;
    padding-left: 60px;
    padding-right: 120px;
    height: 100%;
    text-align: center;
}

.sign-up-helper-text {
    color: #585858;
}

.form-title {
    font-family: "Roboto", sans-serif;
}

.shop-picker-box {
    width: 100%;
    border-radius: 4px;
    margin-top: 2em;
    font-size: 14px;
    text-align: left;
    margin-bottom: 2em;
}

.shop-picker-box>span>div>div {
    background-color: #f1f1f1;
    /* TODO figure out a way to write this without !important */
    border-radius: 4px !important;
    border: 1px solid #ccc;
}