.new-pass-server-error {
    color: rgba(169, 68, 66, 0.74);
    text-align: left;
    margin: 10px 0px 10px 0px;
    border-style: solid;
    padding: 6px;
    border-radius: 3px;
    background-color: rgba(255, 163, 162, 0.14);
    border-width: 1px;
}
