.mobile-shop-finder{
    font-size: 48px;
}
.mobile-shop-finder .form-control{
    font-size: inherit;
}
.mobile-shop-finder .dropdown-menu{
    font-size: inherit;
    width: 100%;
    max-height: 600px;
}


