.like-svg {
    position: relative;
    top: 5px;
    display: inline-block;
}

.like-count {
    display: inherit;
    font-size: 50px;
    font-weight: 600;
}

.like-count-right {
    position: relative;
    bottom: 18px;
    left: 10px;
}

.like-count-left {
    float: left;
    margin-right: 10px;
}