.like-svg {
    display: inline-block;
}

.like-count {
    display: inherit;
    font-weight: 600;
}

.like-count-desktop {
    font-size: 14px;
}

.like-count-mobile {
    font-size: 50px;
}

.like-count-right {
    position: relative;
    bottom: .4em;
    left: .3em;
}

.like-count-left {
    float: left;
    margin-right: 10px;
}