.login-modal{
    position: absolute;
    top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    background: aqua;
}

.login{
    width: 50%;
    display: inline-block;
    text-align: center;
}

.sign-up{
    width: 50%;
    display: inline-block;
    text-align: center;
}

.auth-title{
    text-align: center;
}