.base-notification {
    position: fixed;
    left: 0;
    background-color: #00aaff;
    width: 100%;
    color: #fcfcfc;
    /* shopfinder has a component at z index 1000 */
    z-index: 1001;
    text-align: center;
    padding: .8em;
    font-size: 1.4em;
    letter-spacing: .02em;
}

.notification-sign-up-button {
    width: 8em;
    display: inline-block;
    margin-bottom: 0;
}

.notification-message {
    display: inline-block;
    padding-right: .3em;
}

.notification-x {
    margin: 0 10px 0 0;
}

.notification-link {
    text-decoration: underline;
    padding-right: .3em;
}